:root {
  --page-bg: #f9f9f7;
  --card-bg: #fcfcfb;
  --text-primary: #0b0b0b;
  --text-secondary: #52514e;
  --text-muted: #898781;
  --gridline: #e1e0d9;
  --accent: #2a78d6;
  --warning: #fab219;
  --critical: #d03b3b;
  --good: #0ca30c;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 16px/145% var(--sans);
  color-scheme: light dark;
  color: var(--text-secondary);
  background: var(--page-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-bg: #0d0d0d;
    --card-bg: #1a1a19;
    --text-primary: #ffffff;
    --text-secondary: #c3c2b7;
    --text-muted: #898781;
    --gridline: #2c2c2a;
    --accent: #3987e5;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100svh;
}

h1,
h3 {
  font-family: var(--sans);
  font-weight: 600;
  color: var(--text-primary);
  margin: 0;
}

p {
  margin: 0;
}
